/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: #333;
    background-color: #ffffff;
    line-height: 1.6;
}

/* Navbar */
.nav-bar {
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    list-style: none;
    border-radius: 20px;
    z-index: 1000;
    width: 100%;
}

.nav-item {
    font-size: 1em;
    height: 100%;
    font-weight: bold;
    display: block;
    padding: 16px;
    text-align: center;
    text-decoration: none;
}

.nav-item:hover {
    color: white;
    background-color: #ebebeb;
    border-radius: 20px;
}


.nav-item-title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 8px;
    color: #333;
}

/* Section Styling */
section {
    padding: 20px;
    margin:  auto;
    background-color: #fff;
    width: 95%;
    max-width: 1200px;
}

img {
    border-radius: 15px;
}

/* Typography */
h1, h2, h3, h4, h5, p, a, li {
    font-family: inherit;
    color: inherit;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
}

p, a, li {
    font-size: 1em;
}

/* Links */
a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

a:hover {
    color: #555;
}